In [1]:
from Annuity import Annuity 
from InterestRates import Rate

In [12]:
r = Rate(0.035)
an = Annuity(r, payment_mode= "arrear", time_span= 11, amt= 200 )    
an.time_value(future= True)

2016.400692466463

1.2222222222222223

In [4]:
(an.advance()-an.time_span* r.time_value_factor(n = an.time_span, discount= True)) / r.rate

12.146912472822788

In [16]:
a = True
b = 2
if a:
    if b==1:
        print("b is 1")
    elif b==2:
        print("break")
        pass
    print("hello")

break
hello

In [24]:
a = 2
def main():
    def change(): 
        global a
        a = 3
    return change()
main()
print(a)

3

In [14]:
import pandas as pd
import numpy as np

# EBCT model 1

In [85]:
claim_data = np.array([ [48, 53, 42, 50, 59], 
                        [64, 71, 64, 73, 70],
                        [85, 54, 76, 65, 90],
                        [44, 52, 69, 55, 71],
                        ])
N, n = claim_data.shape
df = pd.DataFrame(claim_data, columns= [ f"year-{i}" for i in range(1, n + 1)])
df["risks"] = [i for i in range(1, N + 1)]
df.set_index("risks", inplace= True)

In [86]:
stats_df = pd.DataFrame()
stats_df["risks"] = df.index
stats_df.set_index("risks", inplace= True)

claims =df[ [f"year-{i}" for i in range(1, 6)]].copy()
stats_df["risk-mean"] = claims.apply(np.mean, axis=1)
stats_df["risk-var"] = claims.apply(np.var, axis= 1, ddof= 1)

X_bar = stats_df["risk-mean"].mean()
expected_var = stats_df["risk-var"].mean()
var_means = stats_df["risk-mean"].var() - (1/n) * expected_var 

cred_factor = n/(n+ (expected_var/ var_means))
df["credibility-premium"] = (cred_factor * stats_df["risk-mean"]) + ((1 - cred_factor) * X_bar)
df

       year-1  year-2  year-3  year-4  year-5  credibility-premium
risks
1          48      53      42      50      59            52.660686
2          64      71      64      73      70            67.365759
3          85      54      76      65      90            71.940671
4          44      52      69      55      71            59.032884

52.66068553857285

In [88]:
def EBCT1(claim_data):
    # Generate a df with the claims
    claim_data = np.array(claim_data) if(type(claim_data)==list)else(claim_data)
    N, n = claim_data.shape
    df = pd.DataFrame(claim_data, columns= [ f"year-{i}" for i in range(1, n + 1)])
    df["risks"] = [i for i in range(1, N + 1)]
    df.set_index("risks", inplace= True)

    # dummy df for calculations
    stats_df = pd.DataFrame()
    stats_df["risks"] = df.index
    stats_df.set_index("risks", inplace= True)

    # mean and varince within each risk
    claims =df[ [f"year-{i}" for i in range(1, 6)]].copy()
    stats_df["risk-mean"] = claims.apply(np.mean, axis=1)
    stats_df["risk-var"] = claims.apply(np.var, axis= 1, ddof= 1)

    # average of the above mean and variance
    X_bar = stats_df["risk-mean"].mean()
    expected_var = stats_df["risk-var"].mean()


    var_means = stats_df["risk-mean"].var() - (1/n) * expected_var 

    # credibiliy factor
    cred_factor = n/(n+ (expected_var/ var_means))
    df["credibility-premium"] = (cred_factor * stats_df["risk-mean"]) + ((1 - cred_factor) * X_bar)
    
    return df
claims = [ [48, 53, 42, 50, 59], 
            [64, 71, 64, 73, 70],
            [85, 54, 76, 65, 90],
            [44, 52, 69, 55, 71],
            ]
EBCT1(claims)

       year-1  year-2  year-3  year-4  year-5  credibility-premium
risks
1          48      53      42      50      59            52.660686
2          64      71      64      73      70            67.365759
3          85      54      76      65      90            71.940671
4          44      52      69      55      71            59.032884

In [94]:
1000000/(365/12)

328767.12328767125

In [1]:
import pandas as pd
import numpy as np

In [ ]:
claim_num = [
    []
]